{
    "presets": [
        "@babel/env",
        "@babel/react",
    ],
    "plugins": [
        "@babel/transform-runtime",
        "@babel/proposal-export-default-from",
        [
            "@babel/proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ] // `style: true` 会加载 less 文件
    ]
}